GMAIL_CREDENTIALS_FILE=credentials.json
GMAIL_TOKEN_FILE=token.json

SHAREPOINT_DIR=C:\CAMINHO\DO\SHAREPOINT

ARQUIVO_BASE_1=Gestão Manutenção de Frotas - Controle de Paleteiras.xlsx
ARQUIVO_BASE_2=Planilha de Paleteiras Disktrans.xlsx

ABA_BASE_2=Base

PRAZO_DIAS=7

CON_EMAIL_1=
CON_EMAIL_2=

VIX_EMAIL_1=
VIX_EMAIL_2=

SSA_EMAIL_1=
SSA_EMAIL_2=